body {
    background-color: #039e6f;
    overflow-x: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.cont {
    padding: 32px;
}

.header {
    width: 86px;
    color: #3D6666;
    letter-spacing: 5px;
    display: block;
    margin: auto;
    margin-top: 20px;

}


.bill-content {
    margin-top: 10px;
    width: 375px;
    height: 799px;
    background: #FFFFFF;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px 25px 0px 0px;
}


.bill {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #5E7A7D;
}


.amount-input {
    text-align: right;
    margin-top: -20px;
    height: 38px;
    width: 311px;
    border-radius: 5px;
    display: block;
    margin: auto;
    background-image: url(./tip-calculator-app-main/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
}

.tip-text {
    margin-left: 32px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
}
 
.tips{
    user-select: none;
}

.tip-pro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    user-select: none;
}

.tip-pro input {
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    margin-left: 32px;
    height: 48px;
    width: 115.6311798095703px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background: #00474B;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

#gray {
    background: #F3F9FA;
    color: #547878;
}

/* people */

.people {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
    margin-left: 32px;
    padding-top: 20px;
}

.human-cuant {
    height: 38px;
    width: 311px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    margin-left: 32px;
}

.last-green-cont {
    margin-top: 20px;
    margin-left: 32px;
    height: 257px;
    width: 311px;
    left: 24px;
    top: 644px;
    border-radius: 15px;
    background: #00494d;
}

.tips{
    user-select: none;
}

.tip-person {
    padding-top: 40px;
    margin-left: 20px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.trip-human{
    display: flex;
    justify-content: space-between;    
}

.trip-human-total{
    display: flex;
    justify-content: space-between;    
}

.tip-person span {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}

#amount{
    margin-top: 45px;
    margin-right: 20px;
    width: 60px;
    height: 50px;
    background: transparent;
    border: none;
    color: white;
    font-style: 20px;
}

#total-amount{
    margin-top: 40px;
    margin-right: 20px;
    width: 60px;
    height: 50px;
    background: transparent;
    border: none;
    color: white;
    font-style: 20px;
}


.reset{
    width: 100%;
    height: 40px;
    background-color: #039e6f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
}


/* tablet desctop */

@media screen and (min-width: 768px) {
    .bill-content{
        display: block;
        margin: auto;
    }
}

